<div class="container">
  <h4>IGG components: </h4>
  <h6>1. Navbar</h6>
  <nav class="navbar navbar-expand-lg navbar-light bg-light-igg">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link1</a>
        </li>
      </ul>
      <input type="search" placeholder="Search" class="searchbox">
    </div>
  </nav> <br>
  
  
    <h6>2. Buttons:</h6>
    <button class="btn btn-igg-primary">Primary</button> &nbsp;
    <button class="btn btn-igg-CTA">CTA</button>&nbsp;
    <button class="btn btn-igg-secondary">Secondary</button>&nbsp;
    <button class="btn btn-igg-neutral">Neutral</button>&nbsp;
    <br><br>

    <form class="form-inline">
      <div class="form-group">
        <div class="input-group">
          <h6>3. Date Picker </h6> &nbsp;<input class="form-control" placeholder="yyyy-mm-dd"
                 name="dp" [(ngModel)]="date" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button (click)="d.toggle()" type="button"><i class="fa fa-calendar"></i></button>
          </div>
        </div>
      </div>
    </form>
    
    <hr/>
    <pre>Selected date is : {{ date| json}}</pre>
  
    <h6>4. Dropdown</h6>
  <div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-igg-primary" id="dropdownBasic2" ngbDropdownToggle>Toggle dropdown</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
          <button class="dropdown-item dropdown-item-igg">Action - 1</button>
          <button class="dropdown-item dropdown-item-igg">Another Action</button>
          <button class="dropdown-item dropdown-item-igg">Something else is here</button>
        </div>
      </div>
    </div>
  </div>
  <br>
  
  
  <h6>5. Check-box</h6>
  <div class="custom-control custom-control-lg custom-checkbox">
    <input type="checkbox" class="custom-control-input custom-control-input-igg" id="customCheck1">
    <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input custom-control-input-igg" id="customCheck">
    <label class="custom-control-label" for="customCheck">Check this custom checkbox</label>
  </div>
  <br>
  
  
  <h6>6. Radio Button</h6>
  <div class="custom-control custom-control-lg custom-radio custom-control-inline">
    <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input custom-control-input-igg">
    <label class="custom-control-label" for="customRadioInline1">Toggle this custom radio</label>
  </div>
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input custom-control-input-igg">
    <label class="custom-control-label" for="customRadioInline2">Or toggle this other custom radio</label>
  </div>
  <br>
  
  <h6>6. Tool-Tip</h6>
  <button type="button" class="btn btn-outline-secondary mr-2" placement="top" ngbTooltip="Tooltip on top">
    Tooltip on top
  </button>
  <button type="button" class="btn btn-outline-secondary mr-2" placement="right" ngbTooltip="Tooltip on right">
    Tooltip on right
  </button>
  <button type="button" class="btn btn-outline-secondary mr-2" placement="bottom" ngbTooltip="Tooltip on bottom">
    Tooltip on bottom
  </button>
  <button type="button" class="btn btn-outline-secondary mr-2" placement="left" ngbTooltip="Tooltip on left">
    Tooltip on left
  </button>
  <br><br>
  <h6>7. Multi select dropdown</h6>
  <ng-multiselect-dropdown class="component-width"
    [placeholder]="'custom placeholder'"
    [data]="dropdownList"
    [(ngModel)]="selectedItems"
    [settings]="dropdownSettings"
    (onSelect)="onItemSelect($event)"
    (onSelectAll)="onSelectAll($event)"
  >
  </ng-multiselect-dropdown>
  <br><br>
  <h6>8. Table and Pagination</h6>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Country</th>
        <th scope="col">Area</th>
        <th scope="col">Population</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of countries">
        <td scope="row">{{ country.id }}</td>
        <td>
          <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="country_image mr-2">
          {{ country.name }}
        </td>
        <td>{{ country.area | number}}</td>
        <td>{{ country.population | number }}</td>
      </tr>
    </tbody>
  </table>

  <ngb-pagination class="d-flex justify-content-center" [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"></ngb-pagination>

  
</div>
<!-- <div class="container">
<h6>IGG components: </h6>
</div> -->