<!-- <footer class="footer1">
  <div class="footer-bottom">
    <div class="container">
      <div>Copyright © <a href="">Mindtree</a>.  All right reserved.</div>
    </div>
  </div>
</footer> -->
<mat-toolbar>
  <mat-toolbar-row class="footer">
    <div class="logo">
      <a href="https://www.universityofcommons.com/" target="blank">
        <img src="../../../../assets/images/default/UoClogo-color.png" alt="University of commons">
      </a>
     <p class="aboutMt">An initiative of <a href="http://mindtree.org" target="blank">Mindtree.org</a></p>
    </div>
    <div class="subscribeEmail">
      <!-- <ol>
        <li style="font-size:12px"><b>Subscribe to UoC via Email</b></li>
        <li class="uniqueFontweight">Be a part of out community and subscribe to</li>
        <li class="uniqueFontweight">our quartely newsletters</li>
        <li class="empty">empty</li>
        <li class="emailSubscribe"><input type="email" placeholder="Email Address"><button class="primary">SUBSCRIBE</button></li>
      </ol> -->
    </div>
    <div class="address">
      <ul>
        <li>+91 9916188800</li>
        <li>hello@universityofcommons.com</li>
        <li class="empty">empty</li>
        <li>University of Commons, Mindtree Ltd,</li>
        <li>Global Village Tech Park,</li>
        <li>Bengaluru 560059</li>
      </ul>
    </div>
    <div class="contact">
     <ol>
       <li><a href="https://www.universityofcommons.com/contact/" target="_blank">CONTACT US</a></li>
       <li><a href="https://www.universityofcommons.com/beadoer/" target="_blank">FELLOWSHIPS</a></li>
       <li><a href="https://www.universityofcommons.com/departments/solutions/" target="_blank">COMMUNITIES</a></li>
       <li><a href="https://www.universityofcommons.com/departments/journeys/" target="_blank">JOURNEYS</a></li>
     </ol>
    </div>
    <div class="aboutUs">
      <ol>
        <li><a href="https://www.universityofcommons.com/who-we-are/about-us/" target="_blank">ABOUT UoC</a></li>
        <li>WORK WITH US</li>
        <li>PRIVACY POLICY</li>
        <li>TERMS AND CONDITION</li>
      </ol>
    </div>

  </mat-toolbar-row>
  <mat-toolbar-row class="bottomBar">
    <span class="uoc">UNIVERSITY OF COMMONS</span>
    <span class="example-spacer"></span>
    <i class="fab fa-instagram socialMediaIcon"></i>
    <a href="http://twitter.com/commonsglobal/"><i class="fab fa-twitter socialMediaIcon"></i></a>
    <a href="http://facebook.com/universityofcommons/" target="_blank"><i class="fab fa-facebook-f socialMediaIcon"></i></a>
  </mat-toolbar-row>
</mat-toolbar>
