
$pale-yellow : #FCF9D3;
$white: #fff;
$black: black;
$green-yellow: greenyellow;
$grey: grey;
$gainsboro: gainsboro;
$header-color: #073D8C;

//variables for IGG
$igg-primary : #0090b3;     //primary
$igg-cta : #F0613D;       //CTA
$igg-secondary : #8bda7c;   //secondary
$igg-neutral : #676767;     //Neutral

//variables for IGC
$igc-primary : #91CB51;    //primary
$igc-cta : #71197E;    //CTA
$igc-secondary : #98452D;  //secondary
$igc-neutral : #676767;     //Neutral